.App {
	background-color: #1a1423;
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Stage {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.SearchBox {
	width: 80%;
	margin: 10px;
}

.StudentInfo {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.StudentInfo h1 {
	margin: 0;
}

.Controls {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.Controls h2 {
	padding-left: 1em;
	padding-right: 1em;
}

.Controls div {
	margin: 10px;
	padding: 20px;
	background-color: antiquewhite;
}
