html
    head
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")

        title=title

        //- Icon
        link(rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon")

        //- Google Fonts 
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900")

        //- Custom Style
        link(rel="stylesheet" href="/assets/css/error.css")

    body
        div(id="notfound")
            div(class="notfound")
                div(class="notfound-404")
                    h1=message
                h2=subtitle
                p=description
                if mail
                    a(href="mailto:bus101.backoffice@gmail.com") contact us
                else
                    a(href="/auth/logout") log out
